.c-prodotti-strip {
  @include _overlay(black, to right);

  background: {
    color: $_color-darkshaft;
    image: url(/static/images/optimized/home-products.jpeg);
    position: center;
    size: cover;
  }
  color: $_color-white;
}

@media (max-width: $_bp-m) {
  .c-prodotti-strip
  .o-strip__headline {
    max-width: none;
  }
}
