@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('/static/fonts/caviardreams_regular_macroman/CaviarDreams-webfont.eot');
    src: url('/static/fonts/caviardreams_regular_macroman/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/caviardreams_regular_macroman/CaviarDreams-webfont.woff') format('woff'),
         url('/static/fonts/caviardreams_regular_macroman/CaviarDreams-webfont.ttf') format('truetype'),
         url('/static/fonts/caviardreams_regular_macroman/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
