// Font size
$_fs-large:         36px;
$_fs-medium:        27px;
$_fs-normal:        22px;
$_fs-small:         16px;
$_fs-xsmall:        12px;

// Colors
$_color-white:      #FFFFFF;
$_color-darkshaft:  #333333;
$_color-lightgrey:  #F1F1F1;
$_color-lime:       #CDF031;
$_color-brown:      #6F5846;

// Breakpoints
$_bp-s:             320px;
$_bp-m:             768px;
$_bp-l:             1024px;

// Site-wide sizes
$grid-margin-side:  25px;
$nav-height:        75px;
