.c-prodotti__list-and-filters {
  padding-top: $grid-margin-side;
  padding-bottom: $grid-margin-side;
}

.c-prodotti-filters {
  display: none;
}

.c-prodotti-text-block {
  margin-bottom: 25px;
}

@media (min-width: 1100px) {
  .c-prodotti__list-and-filters {
    display: flex;
  }

  .c-prodotti-filters {
    display: block;
  }

  .c-prodotti-list__container {
    flex: 1;
  }
}
