// Vars
$nav-item-margin: 25px;
$nav-item-margin-s: 15px;

.c-nav {
  @include _listreset;
  display: flex;
  align-items: center;
}

.c-nav__item {
  margin-left: $nav-item-margin;
  text-transform: uppercase;
  font-size: $_fs-small;
  font-weight: bold;
  color: $_color-white;

  &:first-child {
    margin-left: 0;
  }

  &.active {
    color: $_color-lime;
  }
}

.c-nav__item-link {
  @include _linkreset;
}

// nav-mobile

.c-nav-overlay {
  @include _fasttransition(opacity);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $_color-darkshaft;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.c-nav-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $grid-margin-side;
  z-index: 2;
}

.c-nav-mobile-open,
.c-nav-mobile-close {
  cursor: pointer;
  width: 25px;
  height: 25px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.c-nav-mobile-close {
  display: none;
}

.c-nav-mobile {
  @include _listreset;
  @include _fasttransition(transform);

  position: fixed;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $_color-lightgrey;
  box-shadow: 0 -4px 3px rgba(0,0,0,0.4);

  transform: translateY(103%);
  z-index: 2;

  .c-nav__item {
    margin-left: $grid-margin-side;
    margin-top: $nav-item-margin;
    font-size: $_fs-normal;
    font-weight: normal;
    color: $_color-darkshaft;

    &:first-child {
      margin-top: 0;
    }

    &.active {
      font-weight: bold;
    }
  }
}

@media (max-height: 400px) {
  .c-nav-mobile
  .c-nav__item {
    margin-top: $nav-item-margin-s;
    font-size: $_fs-small;
  }
}

// Status

.is-open {
  .c-nav-overlay {
    opacity: 0.85;
  }

  .c-nav-mobile-open {
    display: none;
  }

  .c-nav-mobile-close {
    display: block;
  }

  .c-nav-mobile {
    transform: none;
  }
}
