// Vars
$search-padding: 5px;

.o-search {
  padding-bottom: $search-padding;
  background: none;
  text-align: center;
  text-transform: uppercase;
  color: $_color-white;
  font-size: $_fs-normal;
  border: none;
  border-bottom: 1px solid $_color-white;

  &.o-search--dark {
    color: $_color-darkshaft;
    border-bottom-color: $_color-darkshaft;
  }
}
