// Spacing
$table-padding: 10px;

.o-table {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: $table-padding;
  }

  tr {
    border-bottom: 1px solid rgba($_color-darkshaft, 0.1);

    &:last-child {
      border-bottom: none;
    }
  }
}
