.c-header--small {
  background-color: $_color-darkshaft;
}

.c-header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: $nav-height;
  z-index: 1;
}

.c-header-content-link {
  @include _linkreset;
  display: flex;
  align-items: center;
}

.c-header-content--mobile {
  display: none;
  margin: 0;
}

@media (max-width: $_bp-m) {
  .c-header-content {
    display: none;
  }
  .c-header-content--mobile {
    display: initial;
  }
}
