// Vars
$steps-title-margin: 40px;
$steps-cards-margin-left: 25px;
$steps-card-fs: $_fs-small;
$steps-card-footer-padding: 5px;

.c-3steps {
  background: $_color-lightgrey;
  color: $_color-darkshaft;
}

.c-3steps__cards {
  display: flex;
  justify-content: center;
}

.c-3steps__card {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: $steps-title-margin $steps-cards-margin-left;
  margin-right: 0;
  max-width: 250px;
  text-align: center;

  &:first-child {
    margin-left: 0;
  }

}

.c-3steps__card-wrapper {
  flex: 1;
  padding: 35px $card-padding;
}

.c-3steps__card-icon {
  height: 100px;
  max-width: 100%;
}

.c-3steps__card-text {
  margin-bottom: 0;
  font-size: $steps-card-fs;

  strong {
    color: $_color-brown;
  }
}

.c-3steps__card-footer {
  padding: $steps-card-footer-padding;
  background-color: $_color-brown;
  color: $_color-white;
}

@media (max-width: $_bp-m) {
  .c-3steps__cards {
    flex-direction: column;
    align-items: center;
  }

  .c-3steps__card {
    margin: 0;
    margin-top: $steps-cards-margin-left;

    &:first-child {
      margin-top: $steps-title-margin;
    }

    &:last-child {
      margin-bottom: $steps-title-margin;
    }

  }
}
