// Vars
$footer-title-margin:           25px;
$footer-map-height:             200px;
$footer-items-margin:           5px;
$footer-block-margin:           35px;
$footer-border-color:           rgba($_color-white, 0.4);

.c-footer {
  @include _sidepadding;

  align-items: flex-start;
  background-color: $_color-brown;
  color: $_color-white;
}

.c-footer .o-strip__right,
.c-footer .o-strip__left {
  height: 100%;
}

.c-footer .o-strip__left {
  margin-right: $footer-block-margin;
}

.c-footer .o-strip__right {
  padding-left: $footer-block-margin;
  border-left: 1px solid $footer-border-color;
}

.c-footer .o-strip__headline-title {
  margin-bottom: $footer-title-margin;
}

.c-footer__map {
  display: block;
  margin-bottom: $footer-title-margin;
  height: $footer-map-height;
  width: 100%;
  background: {
    image: url(/static/images/optimized/mastro-maps.png);
    size: cover;
    position: center;
  }
}

.c-footer__contacts-list {
  @include _listreset;

  &.has-border {
    margin-bottom: $footer-title-margin;
    padding-bottom: $footer-title-margin;
    border-bottom: 1px solid $footer-border-color;
  }
}

.c-footer__contacts-list-item {
  margin-bottom: $footer-items-margin;
}

.c-footer__contacts-link {
  @include _linkreset;

  display: inline-block;
  display: inline-flex;
  align-items: flex-start;
}

.c-footer__contacts-icon {
  margin-right: 15px;
  max-width: 20px;
  max-height: 20px;
}

.c-footer__contacts-label {
  font-weight: bold;
}

@media (max-width: $_bp-m) {
  .c-footer .o-strip__right,
  .c-footer .o-strip__left {
    width: 100%;
  }

  .c-footer .o-strip__right {
    margin-top: $footer-block-margin;
    padding-left: 0;
    border: none;
  }
}
